<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
</head>
<body bgcolor=#F19582>
  <nav>
    <ul>
      <ul>
        <p>Rhys' Pizzas &trade;</p>
        <p><a href="/pizzas">Pizza Orders</a></p>
        <p><a href="/pizzas/new">  New Order </a></p>
      </ul>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>